body{
margin:0;
font-family:Arial;
background:#111;
color:white;
}

nav{
display:flex;
justify-content:space-between;
padding:20px;
background:#000;
align-items:center;
}

.logo{
color:#D4AF37;
font-size:24px;
font-weight:bold;
}

.cart-link{
color:white;
text-decoration:none;
}

/* HERO */
.hero{
height:40vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

.hero h1{
color:#D4AF37;
font-size:50px;
}

/* PRODUCTS */
.products{
display:flex;
gap:20px;
justify-content:center;
flex-wrap:wrap;
padding:20px;
}

.card{
background:#1a1a1a;
padding:15px;
border-radius:10px;
width:200px;
text-align:center;
}

.card img{
width:100%;
border-radius:10px;
}

button{
background:#25D366;
border:none;
padding:10px;
color:white;
border-radius:10px;
cursor:pointer;
margin-top:10px;
}

/* CART PAGE */
.item{
display:flex;
justify-content:space-between;
background:#1a1a1a;
padding:10px;
margin:10px;
border-radius:8px;
}

h1,h2{
text-align:center;
color:#D4AF37;
}
